*{
    box-sizing: border-box;
}

body {
    background-color: #000000;
    background-image: url("../images/what-the-hex.png");
    height: 90%;
}

header {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    height:78px;
    border-bottom: 1px solid #cccccc;
    margin-bottom:20px;
    min-width: 960px;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 10;
}

nav {
    float: right;
    height:78px;
}
    
ul {
    display:block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
    text-align: center;
    padding: 30px 0px 0 20px;
}

/* Vertical Line Divider between nav options */
.divider {
    color: #e0e0e0;
    padding:10px;
    position:relative;
    top: 30px;
    left: 10px;
}

li a {
    float: left;
    color:#cccccc;
    text-decoration: none;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    padding: 10px;
}

header a:hover {
    background-color: #4aaaa5;
    color: #ffffff;
}

header h1 {
    font-family: Georgia, Times, 'Times New Roman', serif;
    background-color: #4aaaa5;
    float: left;
    color: #ffffff;
    padding: 15px 20px 25px 20px;
    font-size: 1.5em;
    margin:0;
    margin-top: 15px;
    
}
    
header div{
    width: 960px;
    margin: auto;
    overflow:auto;
}
    
section {
        width: 960px;
        background-color: #ffffff;
        margin: auto;
        margin-top: 100px;
        margin-bottom: 100px;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        padding: 5px;
        border: 1px solid #dddddd;
        overflow:auto;
}

section h1 {
        font-family: Georgia, Times, 'Times New Roman', serif;
        color: #4aaaa5;
        margin: 20px;
        font-size: 1.5em;
        border-bottom: 2px solid #cccccc;
        padding:  10px 0 20px 0;
}

section img {
        float: left;
        margin: 20px;
        width: 25%;
        overflow: auto;
}

p {
        color: #777777;
        line-height: 1.8;
}

article{
    margin: 20px;
}

footer {
    position: fixed;
    background-color:#666666;
    bottom: 0;
    right: 0;
    left:0;
    text-align: center;
    padding: 30px 0 10px 0;
    color: #ffffff;
    border-top: 8px solid #4aaaa5; 
    z-index: 10;      
}


  /*Contact Page Styling  */

form {
    margin:25px;
    color:rgb(136, 135, 135);
    line-height:1.5;
}

input {
    margin:5px;
    margin-left:0;
    width: 100%;
    line-height: 1.5em;
}

#message {
    height: 200px;
}

.submit {
    width:10%;
    background-color:#4aaaa5;
    color: #ffffff;
    border:none;
    padding: 5px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: medium;
}

/* Chrome, Firefox, Opera, Safari 10.1+ */
::placeholder { 
    color: #cccccc;
    opacity: 1; /* Firefox */
    font-size: 125%;
}

/* Internet Explorer 10-11 */
:-ms-input-placeholder { 
    color: #cccccc;
}

/* Microsoft Edge */
::-ms-input-placeholder { 
    color: #cccccc;
}

.portfolio {
    display: inline-block;
    width: 100%;
    margin: 1em;
    z-index: 1;
    overflow: hidden;
}


/* Portfolio Page Styling */
  section div {
      width: 35%;
      display: inline-block;
      overflow:hidden;
      z-index: 1;
      position: relative;
      left: 17px;
}

.portfolioHeader {
    width: 100%;
    background-color: #4aaaa5;
    height: 50px;
    position: absolute;
    bottom: 0px;
    left: 17px;
    right: 0px;
    z-index: 2;
    text-align: center;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #ffffff;
    line-height: 50px;
    font-size: 1.2em;
}

/* For a Desktop with an avg width of 980px wide, the site will be responsive with the following media query specifications: */
@media screen and (max-width:980px) {
    section{
        width: 66%;
        margin-left: 25px;
    }

p {
    margin-top: 10px;
}

header h1 {
    margin: 0;
    height: 100%;
}

header {
    height: 64px;
}
/* li is the section of contents within the nav bar (about, portfolio, contact.) The first 20px is the top padding, 0 is the right padding, second 20 is bottom, last 20 is top */
li{
    padding: 15px 0 20px 90px;
}

/* .divider is the class representing the vertical lines separating the nev buttons. Their spacing from the top of the page is 15px so that it fits within the header.  */
.divider {
    top: 15px;
}
/* For a tablet with an avg width of 768, the site will be responsive with the following media query specifications: */
@media screen and (max-width: 768px) {
    section{
        width: 90%;
        margin: auto;
        margin-top: 85px:
    }
    p {
        margin-top: 10px;
    }
    
    header h1 {
        margin: 0;
        height: 100%;
    }
    
    header {
        height: 64px;
        width: 90%
        overflow: visible;
    }
    /* li is the section of contents within the nav bar (about, portfolio, contact.) The first 20px is the top padding, 0 is the right padding, second 20 is bottom, last 20 is top */
    li{
        padding: 15px 0 20px 90px;
    }
    
    /* .divider is the class representing the vertical lines separating the nev buttons. Their spacing from the top of the page is 15px so that it fits within the header.  */
    .divider {
        top: 15px;
    }

    nav {
        float: none;
        position: fixed;
        right: 10px;
    }

    .submit {
        width: 75px;
    }

    @media screen and (max-width: 640px) {

        section {
            width: 90%;
            margin: auto;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    
        p {
            margin-top: 10px;
        }
    
        header h1 {
            margin:0;
            height: 60px;
            position:static;
            display: block;
            text-align: center;
            padding: 20px;
            width:100%;
        }
    
    header div {
        position: static;
        margin: 0;
        height: 100px;
        width: 100%;
        float: none;
        overflow: hidden;
    }
    
    header {
        position: static;
        width: 100%;
        display: block;
        height: 100px;
        float: none;
        min-width: 400px;
    }
    
    li {
        padding: 7px 0 7px 10px;
    }
    
    li a {
        padding: 5px 10px;
    }
    ul {
        position: static;
        display: inline-block;
        width: 300px;
        height: 40px;
        margin-left: 12%;
        float:none;
    }
    
    .divider {
        position: relative;
        top:1px;
        left:1px;
        
    }
    
    nav {
        margin-top: 60px;
        position:static;
        display:block;
        height: 40px;
        width: 100%;
        float: none;
    }
    
    section img {
        float: none;
        width: 90%;
    }
    
    footer {
        position: static;
        margin: 0 auto;
    }
    
    section div{
        display: block;
        width: 90%;
        left: -10px;
        margin: 0 auto;
    }
    
    .portfolioHeader {
        width: 95%;
        background-color: #4aaaa5;
        height: 50px;
        position: absolute;
        bottom: 30px;
        left: 16px;
        right: 0px;
        z-index: 2;
        text-align: center;
        font-family: Georgia, Times, 'Times New Roman', serif;
        color: #ffffff;
        line-height: 50px;
        font-size: 1em;
        }
    
        .submit {
            width:75px;
        }
    }